/.deps/
/.libs/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/aux/
/config.h.in
/configure
/libtool
/stamp-h1
/tclreadlineCompleter.tcl
/libtclreadline.la
/src/.deps/
/src/.libs/
/src/*.lo
/src/*.o
config.h
config.log
config.status
pkgIndex.tcl
tclreadline.h
tclreadline.n
tclreadlineInit.tcl
tclreadlineSetup.tcl
Makefile
